.banner {
  background-image: linear-gradient(-225deg, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0.1) 50%), url(../../images/banner.jpg);
  background-size: cover;
  background-position: center;
  padding: 150px 0px;
}

.banner h2 {
  width: 700px;
  font-family: 'Work Sans', sans-serif;
  font-size: 55px;
  letter-spacing: 5px;
  word-spacing: 5px;
  color: white;
}

#intro-p {
  font-size: 25px;
  font-style: italic;
  margin-bottom: 70px;
  padding: 0px 0px;
  color: rgba(90, 90, 90, 1);
}

