/* button banner */


.banner a {
	background-color: #E45D60;
	padding: 20px 40px;
	border-radius: 4px;
	color: black;
	transition: color 0.3s ease;

	text-decoration: none;
    font-weight: bold;
	letter-spacing: 2px;
	font-size: 18px;
	font-family: 'Roboto', sans-serif;
}

.banner a:hover {
	color: white;
	text-decoration: underline;
}


/* button end */


.container3	a {
	text-decoration: none;
	color: white;
	font-weight: bold;
	transition: color 0.3s ease;
	font-size: 40px;
}

.container3 a:hover {
	color: #929292;
}
